.F12 {
	FONT-SIZE: 12px
}
.F13 {
	FONT-SIZE: 13px
}
.F14 {
	FONT-SIZE: 14px
}
.F15 {
	FONT-SIZE: 15px
}
.F16 {
	FONT-SIZE: 16px
}
.F17 {
	FONT-SIZE: 17px
}
.F18 {
	FONT-SIZE: 18px
}
.F19 {
	FONT-SIZE: 19px
}
.F20 {
	FONT-SIZE: 20px
}
.F22 {
	FONT-SIZE: 22px
}
.F24 {
	FONT-SIZE: 24px
}
.F26 {
	FONT-SIZE: 26px
}
.Ff_s {
	FONT-FAMILY: "ËÎÌå"
}
.Ff_h {
	FONT-FAMILY: "ºÚÌå"
}
.Fw_b {
	FONT-WEIGHT: bold
}
.Fw_n {
	FONT-WEIGHT: normal
}
.Unl {
	TEXT-DECORATION: underline
}
.No_unl {
	TEXT-DECORATION: none
}
.W30 {
	WIDTH: 30px
}
.W60 {
	WIDTH: 60px
}
.W90 {
	WIDTH: 90px
}
.W120 {
	WIDTH: 120px
}
.W150 {
	WIDTH: 150px
}
.W180 {
	WIDTH: 180px
}
.W210 {
	WIDTH: 210px
}
.W240 {
	WIDTH: 240px
}
.W270 {
	WIDTH: 270px
}
.W300 {
	WIDTH: 300px
}
.W330 {
	WIDTH: 330px
}
.W360 {
	WIDTH: 360px
}
.W390 {
	WIDTH: 390px
}
.W420 {
	WIDTH: 420px
}
.W450 {
	WIDTH: 450px
}
.W480 {
	WIDTH: 480px
}
.W510 {
	WIDTH: 510px
}
.W540 {
	WIDTH: 540px
}
.W570 {
	WIDTH: 570px
}
.W600 {
	WIDTH: 600px
}
.W630 {
	WIDTH: 630px
}
.W660 {
	WIDTH: 660px
}
.W690 {
	WIDTH: 690px
}
.W720 {
	WIDTH: 720px
}
.W750 {
	WIDTH: 750px
}
.W780 {
	WIDTH: 780px
}
.W810 {
	WIDTH: 810px
}
.W840 {
	WIDTH: 840px
}
.W870 {
	WIDTH: 870px
}
.W900 {
	WIDTH: 900px
}
.W930 {
	WIDTH: 930px
}
.W960 {
	MARGIN: 0px 5px; WIDTH: 950px
}
.W950 {
	WIDTH: 950px
}
.W960_B {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-LEFT: 1px; WIDTH: 948px; PADDING-RIGHT: 1px; PADDING-TOP: 0px
}
.W {
	WIDTH: 100%
}
.Hh {
	HEIGHT: 1%
}
.H {
	HEIGHT: 100%
}
.H100 {
	HEIGHT: 100px
}
.H200 {
	HEIGHT: 200px
}
.H300 {
	HEIGHT: 300px
}
.H400 {
	HEIGHT: 400px
}
.H500 {
	HEIGHT: 500px
}
.H150 {
	HEIGHT: 150px
}
.H250 {
	HEIGHT: 250px
}
.H350 {
	HEIGHT: 350px
}
.H450 {
	HEIGHT: 450px
}
.H550 {
	HEIGHT: 550px
}
.Lh19 {
	LINE-HEIGHT: 19px
}
.Lh20 {
	LINE-HEIGHT: 20px
}
.Lh21 {
	LINE-HEIGHT: 21px
}
.Lh22 {
	LINE-HEIGHT: 22px
}
.Lh23 {
	LINE-HEIGHT: 23px
}
.Lh24 {
	LINE-HEIGHT: 24px
}
.Lh25 {
	LINE-HEIGHT: 25px
}
.Lh26 {
	LINE-HEIGHT: 26px
}
.Lh27 {
	LINE-HEIGHT: 27px
}
.Lh28 {
	LINE-HEIGHT: 28px
}
.Lh29 {
	LINE-HEIGHT: 29px
}
.Lh30 {
	LINE-HEIGHT: 30px
}
.M5 {
	MARGIN: 5px
}
.M10 {
	MARGIN: 10px
}
.M15 {
	MARGIN: 15px
}
.M20 {
	MARGIN: 20px
}
.Mt1 {
	MARGIN-TOP: 1px
}
.Mt2 {
	MARGIN-TOP: 2px
}
.Mt3 {
	MARGIN-TOP: 3px
}
.Mt4 {
	MARGIN-TOP: 4px
}
.Mt5 {
	MARGIN-TOP: 5px
}
.Mt6 {
	MARGIN-TOP: 6px
}
.Mt7 {
	MARGIN-TOP: 7px
}
.Mt8 {
	MARGIN-TOP: 8px
}
.Mt9 {
	MARGIN-TOP: 9px
}
.Mt10 {
	MARGIN-TOP: 10px
}
.Mt13 {
	MARGIN-TOP: 13px
}
.Mt14 {
	MARGIN-TOP: 14px
}
.Mt15 {
	MARGIN-TOP: 15px
}
.Mt17 {
	MARGIN-TOP: 17px
}
.Mt18 {
	MARGIN-TOP: 18px
}
.Mt20 {
	MARGIN-TOP: 20px
}
.Mt25 {
	MARGIN-TOP: 25px
}
.Mt30 {
	MARGIN-TOP: 30px
}
.Mt40 {
	MARGIN-TOP: 40px
}
.Mt50 {
	MARGIN-TOP: 50px
}
.Mt70 {
	MARGIN-TOP: 70px
}
.Mb1 {
	MARGIN-BOTTOM: 1px
}
.Mb2 {
	MARGIN-BOTTOM: 2px
}
.Mb3 {
	MARGIN-BOTTOM: 3px
}
.Mb4 {
	MARGIN-BOTTOM: 4px
}
.Mb5 {
	MARGIN-BOTTOM: 5px
}
.Mb6 {
	MARGIN-BOTTOM: 6px
}
.Mb7 {
	MARGIN-BOTTOM: 7px
}
.Mb8 {
	MARGIN-BOTTOM: 8px
}
.Mb9 {
	MARGIN-BOTTOM: 9px
}
.Mb10 {
	MARGIN-BOTTOM: 10px
}
.Mb11 {
	MARGIN-BOTTOM: 11px
}
.Mb12 {
	MARGIN-BOTTOM: 12px
}
.Mb13 {
	MARGIN-BOTTOM: 13px
}
.Mb14 {
	MARGIN-BOTTOM: 14px
}
.Mb15 {
	MARGIN-BOTTOM: 15px
}
.Mb20 {
	MARGIN-BOTTOM: 20px
}
.Mb30 {
	MARGIN-BOTTOM: 30px
}
.Mb50 {
	MARGIN-BOTTOM: 50px
}
.Mr5 {
	MARGIN-RIGHT: 5px
}
.Mr6 {
	MARGIN-RIGHT: 6px
}
.Mr7 {
	MARGIN-RIGHT: 7px
}
.Mr8 {
	MARGIN-RIGHT: 8px
}
.Mr9 {
	MARGIN-RIGHT: 9px
}
.Mr10 {
	MARGIN-RIGHT: 10px
}
.Mr15 {
	MARGIN-RIGHT: 15px
}
.Mr20 {
	MARGIN-RIGHT: 20px
}
.Mr30 {
	MARGIN-RIGHT: 30px
}
.Mr50 {
	MARGIN-RIGHT: 50px
}
.Ml1 {
	MARGIN-LEFT: 1px
}
.Ml2 {
	MARGIN-LEFT: 2px
}
.Ml3 {
	MARGIN-LEFT: 3px
}
.Ml4 {
	MARGIN-LEFT: 4px
}
.Ml5 {
	MARGIN-LEFT: 5px
}
.Ml6 {
	MARGIN-LEFT: 6px
}
.Ml7 {
	MARGIN-LEFT: 7px
}
.Ml8 {
	MARGIN-LEFT: 8px
}
.Ml9 {
	MARGIN-LEFT: 9px
}
.Ml10 {
	MARGIN-LEFT: 10px
}
.Ml11 {
	MARGIN-LEFT: 11px
}
.Ml12 {
	MARGIN-LEFT: 12px
}
.Ml13 {
	MARGIN-LEFT: 13px
}
.Ml14 {
	MARGIN-LEFT: 14px
}
.Ml15 {
	MARGIN-LEFT: 15px
}
.Ml18 {
	MARGIN-LEFT: 18px
}
.Ml20 {
	MARGIN-LEFT: 20px
}
.Ml30 {
	MARGIN-LEFT: 30px
}
.Ml50 {
	MARGIN-LEFT: 50px
}
.P5 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.P10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.P15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.P20 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.Pt1 {
	PADDING-TOP: 1px
}
.Pt2 {
	PADDING-TOP: 2px
}
.Pt3 {
	PADDING-TOP: 3px
}
.Pt4 {
	PADDING-TOP: 4px
}
.Pt5 {
	PADDING-TOP: 5px
}
.Pt6 {
	PADDING-TOP: 6px
}
.Pt7 {
	PADDING-TOP: 7px
}
.Pt8 {
	PADDING-TOP: 8px
}
.Pt9 {
	PADDING-TOP: 9px
}
.Pt10 {
	PADDING-TOP: 10px
}
.Pt15 {
	PADDING-TOP: 15px
}
.Pt20 {
	PADDING-TOP: 20px
}
.Pt30 {
	PADDING-TOP: 30px
}
.Pt50 {
	PADDING-TOP: 50px
}
.Pb5 {
	PADDING-BOTTOM: 5px
}
.Pb6 {
	PADDING-BOTTOM: 6px
}
.Pb7 {
	PADDING-BOTTOM: 7px
}
.Pb8 {
	PADDING-BOTTOM: 8px
}
.Pb9 {
	PADDING-BOTTOM: 9px
}
.Pb10 {
	PADDING-BOTTOM: 10px
}
.Pb15 {
	PADDING-BOTTOM: 15px
}
.Pb20 {
	PADDING-BOTTOM: 20px
}
.Pb30 {
	PADDING-BOTTOM: 30px
}
.Pb50 {
	PADDING-BOTTOM: 50px
}
.Pr5 {
	PADDING-RIGHT: 5px
}
.Pr10 {
	PADDING-RIGHT: 10px
}
.Pr15 {
	PADDING-RIGHT: 15px
}
.Pr20 {
	PADDING-RIGHT: 20px
}
.Pr30 {
	PADDING-RIGHT: 30px
}
.Pr50 {
	PADDING-RIGHT: 50px
}
.Pl5 {
	PADDING-LEFT: 5px
}
.Pl10 {
	PADDING-LEFT: 10px
}
.Pl15 {
	PADDING-LEFT: 15px
}
.Pl20 {
	PADDING-LEFT: 20px
}
.Pl30 {
	PADDING-LEFT: 30px
}
.Pl50 {
	PADDING-LEFT: 50px
}
.Bo_0 {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.Bo_1 {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px
}
.Bo_2 {
	BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-WIDTH: 2px; BORDER-BOTTOM-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px
}
.Bo_3 {
	BORDER-RIGHT-WIDTH: 3px; BORDER-TOP-WIDTH: 3px; BORDER-BOTTOM-WIDTH: 3px; BORDER-LEFT-WIDTH: 3px
}
.Bo_4 {
	BORDER-RIGHT-WIDTH: 4px; BORDER-TOP-WIDTH: 4px; BORDER-BOTTOM-WIDTH: 4px; BORDER-LEFT-WIDTH: 4px
}
.Bo_5 {
	BORDER-RIGHT-WIDTH: 5px; BORDER-TOP-WIDTH: 5px; BORDER-BOTTOM-WIDTH: 5px; BORDER-LEFT-WIDTH: 5px
}
.Bo_6 {
	BORDER-RIGHT-WIDTH: 6px; BORDER-TOP-WIDTH: 6px; BORDER-BOTTOM-WIDTH: 6px; BORDER-LEFT-WIDTH: 6px
}
.Bo_7 {
	BORDER-RIGHT-WIDTH: 7px; BORDER-TOP-WIDTH: 7px; BORDER-BOTTOM-WIDTH: 7px; BORDER-LEFT-WIDTH: 7px
}
.Bo_8 {
	BORDER-RIGHT-WIDTH: 8px; BORDER-TOP-WIDTH: 8px; BORDER-BOTTOM-WIDTH: 8px; BORDER-LEFT-WIDTH: 8px
}
.Bo_9 {
	BORDER-RIGHT-WIDTH: 9px; BORDER-TOP-WIDTH: 9px; BORDER-BOTTOM-WIDTH: 9px; BORDER-LEFT-WIDTH: 9px
}
.Bo_10 {
	BORDER-RIGHT-WIDTH: 10px; BORDER-TOP-WIDTH: 10px; BORDER-BOTTOM-WIDTH: 10px; BORDER-LEFT-WIDTH: 10px
}
.Bo_L_0 {
	BORDER-LEFT-WIDTH: 0px
}
.Bo_R_0 {
	BORDER-RIGHT-WIDTH: 0px
}
.Bo_T_0 {
	BORDER-TOP-WIDTH: 0px
}
.Bo_B_0 {
	BORDER-BOTTOM-WIDTH: 0px
}
.Bo_C {
	BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000; BORDER-LEFT-COLOR: #000
}
.Bo_So {
	BORDER-BOTTOM-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid
}
.Bo_Da {
	BORDER-BOTTOM-STYLE: dashed; BORDER-LEFT-STYLE: dashed; BORDER-TOP-STYLE: dashed; BORDER-RIGHT-STYLE: dashed
}
.Bo_Do {
	BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-TOP-STYLE: dotted; BORDER-RIGHT-STYLE: dotted
}
.F_Left {
	FLOAT: left
}
.F_Right {
	FLOAT: right
}
.nleft {
	FLOAT: left
}
.nright {
	FLOAT: right
}
.F_None {
	FLOAT: none
}
.F_Inherit {
	
}
.C_Both {
	CLEAR: both
}
.C_Left {
	CLEAR: left
}
.C_Right {
	CLEAR: right
}
.C_None {
	CLEAR: none
}
.C_Inherit {
	
}
.Pr {
	POSITION: relative
}
.Pa {
	POSITION: absolute
}
.Zoom {
	ZOOM: 1
}
.Hidden {
	VISIBILITY: hidden
}
.None {
	DISPLAY: none
}
.Vm {
	VERTICAL-ALIGN: middle
}
.Tl {
	TEXT-ALIGN: left
}
.Tr {
	TEXT-ALIGN: right
}
.Tc {
	TEXT-ALIGN: center
}
.Bc {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.Di {
	DISPLAY: inline
}
.Db {
	DISPLAY: block
}
