.F12 {
	font-size: 12px;
}
.F13 {
	font-size: 13px;
}
.F14 {
	font-size: 14px;
}
.F15 {
	font-size: 15px;
}
.F16 {
	font-size: 16px;
}
.F17 {
	font-size: 17px;
}
.F18 {
	font-size: 18px;
}
.F19 {
	font-size: 19px;
}
.F20 {
	font-size: 20px;
}
.F22 {
	font-size: 22px;
}
.F24 {
	font-size: 24px;
}
.F26 {
	font-size: 26px;
}
.Ff_s {
	font-family: "????";
}
.Ff_h {
	font-family: "????";
}
.Fw_b {
	font-weight: bold;
}
.Fw_n {
	font-weight: normal;
}
.Unl {
	text-decoration: underline;
}
.No_unl {
	text-decoration: none;
}
.W30 {
	width: 30px;
}
.W60 {
	width: 60px;
}
.W90 {
	width: 90px;
}
.W120 {
	width: 120px;
}
.W150 {
	width: 150px;
}
.W180 {
	width: 180px;
}
.W210 {
	width: 210px;
}
.W240 {
	width: 240px;
}
.W270 {
	width: 270px;
}
.W300 {
	width: 300px;
}
.W330 {
	width: 330px;
}
.W360 {
	width: 360px;
}
.W390 {
	width: 390px;
}
.W420 {
	width: 420px;
}
.W450 {
	width: 450px;
}
.W480 {
	width: 480px;
}
.W510 {
	width: 510px;
}
.W540 {
	width: 540px;
}
.W570 {
	width: 570px;
}
.W600 {
	width: 600px;
}
.W630 {
	width: 630px;
}
.W660 {
	width: 660px;
}
.W690 {
	width: 690px;
}
.W720 {
	width: 720px;
}
.W750 {
	width: 750px;
}
.W780 {
	width: 780px;
}
.W810 {
	width: 810px;
}
.W840 {
	width: 840px;
}
.W870 {
	width: 870px;
}
.W900 {
	width: 900px;
}
.W930 {
	width: 930px;
}
.W960 {
	margin: 0px 5px; width: 950px;
}
.W950 {
	width: 950px;
}
.W960_B {
	margin: 0px 5px; padding: 0px 1px; width: 948px;
}
.W {
	width: 100%;
}
.Hh {
	height: 1%;
}
.H {
	height: 100%;
}
.H100 {
	height: 100px;
}
.H200 {
	height: 200px;
}
.H300 {
	height: 300px;
}
.H400 {
	height: 400px;
}
.H500 {
	height: 500px;
}
.H150 {
	height: 150px;
}
.H250 {
	height: 250px;
}
.H350 {
	height: 350px;
}
.H450 {
	height: 450px;
}
.H550 {
	height: 550px;
}
.Lh19 {
	line-height: 19px;
}
.Lh20 {
	line-height: 20px;
}
.Lh21 {
	line-height: 21px;
}
.Lh22 {
	line-height: 22px;
}
.Lh23 {
	line-height: 23px;
}
.Lh24 {
	line-height: 24px;
}
.Lh25 {
	line-height: 25px;
}
.Lh26 {
	line-height: 26px;
}
.Lh27 {
	line-height: 27px;
}
.Lh28 {
	line-height: 28px;
}
.Lh29 {
	line-height: 29px;
}
.Lh30 {
	line-height: 30px;
}
.M5 {
	margin: 5px;
}
.M10 {
	margin: 10px;
}
.M15 {
	margin: 15px;
}
.M20 {
	margin: 20px;
}
.Mt1 {
	margin-top: 1px;
}
.Mt2 {
	margin-top: 2px;
}
.Mt3 {
	margin-top: 3px;
}
.Mt4 {
	margin-top: 4px;
}
.Mt5 {
	margin-top: 5px;
}
.Mt6 {
	margin-top: 6px;
}
.Mt7 {
	margin-top: 7px;
}
.Mt8 {
	margin-top: 8px;
}
.Mt9 {
	margin-top: 9px;
}
.Mt10 {
	margin-top: 10px;
}
.Mt13 {
	margin-top: 13px;
}
.Mt14 {
	margin-top: 14px;
}
.Mt15 {
	margin-top: 15px;
}
.Mt17 {
	margin-top: 17px;
}
.Mt18 {
	margin-top: 18px;
}
.Mt20 {
	margin-top: 20px;
}
.Mt25 {
	margin-top: 25px;
}
.Mt30 {
	margin-top: 30px;
}
.Mt40 {
	margin-top: 40px;
}
.Mt50 {
	margin-top: 50px;
}
.Mt70 {
	margin-top: 70px;
}
.Mb1 {
	margin-bottom: 1px;
}
.Mb2 {
	margin-bottom: 2px;
}
.Mb3 {
	margin-bottom: 3px;
}
.Mb4 {
	margin-bottom: 4px;
}
.Mb5 {
	margin-bottom: 5px;
}
.Mb6 {
	margin-bottom: 6px;
}
.Mb7 {
	margin-bottom: 7px;
}
.Mb8 {
	margin-bottom: 8px;
}
.Mb9 {
	margin-bottom: 9px;
}
.Mb10 {
	margin-bottom: 10px;
}
.Mb11 {
	margin-bottom: 11px;
}
.Mb12 {
	margin-bottom: 12px;
}
.Mb13 {
	margin-bottom: 13px;
}
.Mb14 {
	margin-bottom: 14px;
}
.Mb15 {
	margin-bottom: 15px;
}
.Mb20 {
	margin-bottom: 20px;
}
.Mb30 {
	margin-bottom: 30px;
}
.Mb50 {
	margin-bottom: 50px;
}
.Mr5 {
	margin-right: 5px;
}
.Mr6 {
	margin-right: 6px;
}
.Mr7 {
	margin-right: 7px;
}
.Mr8 {
	margin-right: 8px;
}
.Mr9 {
	margin-right: 9px;
}
.Mr10 {
	margin-right: 10px;
}
.Mr15 {
	margin-right: 15px;
}
.Mr20 {
	margin-right: 20px;
}
.Mr30 {
	margin-right: 30px;
}
.Mr50 {
	margin-right: 50px;
}
.Ml1 {
	margin-left: 1px;
}
.Ml2 {
	margin-left: 2px;
}
.Ml3 {
	margin-left: 3px;
}
.Ml4 {
	margin-left: 4px;
}
.Ml5 {
	margin-left: 5px;
}
.Ml6 {
	margin-left: 6px;
}
.Ml7 {
	margin-left: 7px;
}
.Ml8 {
	margin-left: 8px;
}
.Ml9 {
	margin-left: 9px;
}
.Ml10 {
	margin-left: 10px;
}
.Ml11 {
	margin-left: 11px;
}
.Ml12 {
	margin-left: 12px;
}
.Ml13 {
	margin-left: 13px;
}
.Ml14 {
	margin-left: 14px;
}
.Ml15 {
	margin-left: 15px;
}
.Ml18 {
	margin-left: 18px;
}
.Ml20 {
	margin-left: 20px;
}
.Ml30 {
	margin-left: 30px;
}
.Ml50 {
	margin-left: 50px;
}
.P5 {
	padding: 5px;
}
.P10 {
	padding: 10px;
}
.P15 {
	padding: 15px;
}
.P20 {
	padding: 20px;
}
.Pt1 {
	padding-top: 1px;
}
.Pt2 {
	padding-top: 2px;
}
.Pt3 {
	padding-top: 3px;
}
.Pt4 {
	padding-top: 4px;
}
.Pt5 {
	padding-top: 5px;
}
.Pt6 {
	padding-top: 6px;
}
.Pt7 {
	padding-top: 7px;
}
.Pt8 {
	padding-top: 8px;
}
.Pt9 {
	padding-top: 9px;
}
.Pt10 {
	padding-top: 10px;
}
.Pt15 {
	padding-top: 15px;
}
.Pt20 {
	padding-top: 20px;
}
.Pt30 {
	padding-top: 30px;
}
.Pt50 {
	padding-top: 50px;
}
.Pb5 {
	padding-bottom: 5px;
}
.Pb6 {
	padding-bottom: 6px;
}
.Pb7 {
	padding-bottom: 7px;
}
.Pb8 {
	padding-bottom: 8px;
}
.Pb9 {
	padding-bottom: 9px;
}
.Pb10 {
	padding-bottom: 10px;
}
.Pb15 {
	padding-bottom: 15px;
}
.Pb20 {
	padding-bottom: 20px;
}
.Pb30 {
	padding-bottom: 30px;
}
.Pb50 {
	padding-bottom: 50px;
}
.Pr5 {
	padding-right: 5px;
}
.Pr10 {
	padding-right: 10px;
}
.Pr15 {
	padding-right: 15px;
}
.Pr20 {
	padding-right: 20px;
}
.Pr30 {
	padding-right: 30px;
}
.Pr50 {
	padding-right: 50px;
}
.Pl5 {
	padding-left: 5px;
}
.Pl10 {
	padding-left: 10px;
}
.Pl15 {
	padding-left: 15px;
}
.Pl20 {
	padding-left: 20px;
}
.Pl30 {
	padding-left: 30px;
}
.Pl50 {
	padding-left: 50px;
}
.Bo_0 {
	border-width: 0px;
}
.Bo_1 {
	border-width: 1px;
}
.Bo_2 {
	border-width: 2px;
}
.Bo_3 {
	border-width: 3px;
}
.Bo_4 {
	border-width: 4px;
}
.Bo_5 {
	border-width: 5px;
}
.Bo_6 {
	border-width: 6px;
}
.Bo_7 {
	border-width: 7px;
}
.Bo_8 {
	border-width: 8px;
}
.Bo_9 {
	border-width: 9px;
}
.Bo_10 {
	border-width: 10px;
}
.Bo_L_0 {
	border-left-width: 0px;
}
.Bo_R_0 {
	border-right-width: 0px;
}
.Bo_T_0 {
	border-top-width: 0px;
}
.Bo_B_0 {
	border-bottom-width: 0px;
}
.Bo_C {
	border-color: rgb(0, 0, 0);
}
.Bo_So {
	border-style: solid;
}
.Bo_Da {
	border-style: dashed;
}
.Bo_Do {
	border-style: dotted;
}
.F_Left {
	float: left;
}
.F_Right {
	float: right;
}
.nleft {
	float: left;
}
.nright {
	float: right;
}
.F_None {
	float: none;
}
.F_Inherit {
	
}
.C_Both {
	clear: both;
}
.C_Left {
	clear: left;
}
.C_Right {
	clear: right;
}
.C_None {
	clear: none;
}
.C_Inherit {
	
}
.Pr {
	position: relative;
}
.Pa {
	position: absolute;
}
.Zoom {
	zoom: 1;
}
.Hidden {
	visibility: hidden;
}
.None {
	display: none;
}
.Vm {
	vertical-align: middle;
}
.Tl {
	text-align: left;
}
.Tr {
	text-align: right;
}
.Tc {
	text-align: center;
}
.Bc {
	margin-right: auto; margin-left: auto;
}
.Di {
	display: inline;
}
.Db {
	display: block;
}
